{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<body style="background-image: url('https://bisofcake.com/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/1/4/142.jpg');">

    <p style="font-size: 20px;">
        My project theme is "consumption of alcohol by subjects" , i choose that topic because i think its a topic that important to discuss.
        The trend of consuption of Alcohol by teenagers getting bigger in the psat years and i'm interested to explore and research what are the influence factors that contribute to a larger Alcohol consumption by teenagers.
        im curious to understand witch are the influencing Parameters, whather it's; gender, age, city, country or parenst income.
        In the project and to achieve my goal I used all the knowledge and skills I got in the past year, including : Flask , Html , Pandas , Python , Anaconda.
    </p>

    <i>link for my Github </i>
    <a href="https://github.com/shiraltalef/lastProjectShir">my Github</a>

</body>
    {% endblock %}
