{% extends "layout.html" %}

{% block content %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<body     style="background-image: url('https://bisofcake.com/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/1/4/142.jpg');">
</body>
<address>
    Israel, Tel Aviv<br />
    Ori Tzvi Grinberg<br />
    <abbr title="Phone">P:</abbr>
    0506611174
</address>

<address>
    <strong>Support:</strong>   <a href="shiraltalef@gmail.com">shiraltalef@gmail.com</a><br />
</address>

        {% endblock %}
