{% extends "layout.html" %}

{% block content %}
<table>
    <tr>
        <td>
            <br />
            <p><big><strong>  </strong></big></p> <img src="https://cdn.24.co.za/files/Cms/General/d/6078/aa93de81bf164bd1be6c69983b4a9a67.jpg" width="300" height="300" />
        </td>
        <td>
            <hr />
            <img src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half/public/field_blog_entry_images/shutterstock_289559648.jpg?itok=PytdvWHB" width="300" height="300" />
        </td>
        <td>
            <hr />
            <img src="https://knowalcohol.files.wordpress.com/2013/03/u2_moderate_alcohol_boost_social_bonding.jpg" width="300" height="300" />
        </td>
    </tr>
</table>
<h1>Last project - Alcohol by...</h1>
<p class="lead">
    Hello my name is Shir Altalef im almost 16 years old. My school is Tichonet and i study their the class Data Sience.
    in this class I did this project that teached me basic tools for the proffesion of data sience and website building
    .
</p>

<table border: 1px soild black>
    <tr>
        <td>
            <p><big><strong> Tichonet: </strong></big></p> <img src="http://www.files.org.il/BRPortalStorage/a/3/54/05/63-tTpgYpDJDW.jpg" width="300" height="300" />
        </td>
        <td>
            <hr />
            <img src="http://www.files.org.il/BRPortalStorage/a/3/54/05/71-RLxZDsG9RP.jpg" width="350" height="300" />
        </td>
    </tr>
</table>




    {% endblock %}
